
    <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
        <a class="navbar-brand" href="/">Binance Coins</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarCollapse">

          <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
              <a class="nav-link" href="/arsiv">Archieve</a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" href="/minmax">Min&Max</a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" href="/madurum">ma Vals</a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" href="/trackvolume">Volume Scan</a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" href="/trackbuyvolume">Buy Volume Scan</a>
            </li>

          </ul>

          <ul class="navbar-nav ml-auto">
          <!--
              <li class="nav-item active">
                <a class="nav-link" href="/coinlist">Coin Listesi</a>
              </li>

              <li class="nav-item active">
                <a class="nav-link" href="/test">Test</a>
              </li>
              -->
              <li class="nav-item active">
                  <a class="nav-link" href="/about">About</a>
              </li>
          </ul>

        </div>
      </nav>