{% extends "layout.html" %}

{% block body%}
<div id="mainpagetable" class="table table-striped table-bordered" style="line-height: 0.3">
		<table class="table table-striped" >
				<thead>
				<tr>
						<th>Parameter</th>
						<th>Recorded Value</th>
						<th>Individual Score</th>
				</tr>
				</thead>
				<tbody>
				<tr>
						<td>Respiratory Rate</td>
						<td>Doe</td>
						<td>john@example.com</td>
				</tr>
				<tr>
						<td>Respiratory Effort</td>
						<td>Moe</td>
						<td>mary@example.com</td>
				</tr>
				<tr>
						<td>Oxygon Saturation</td>
						<td>Dooley</td>
						<td>july@example.com</td>
				</tr>
				</tbody>
		</table>
</div>
{%endblock%}