{% extends "layout.html" %}

{% block body%}

<form>
		{% csrf_token %}

<div class="form-row align-items-center">

<div class="input-group">
	<div class="input-group-prepend">
  <select class="custom-select" id="inputGroupSelect04" name="selected_coin">
		{% if selected_coin %}
		<option selected>{{selected_coin}}</option>
		{%else%}
		<option selected>Choose...</option>
		{%endif%}
		{% if binance_all_symbols %}
			{% for symbol in binance_all_symbols %}
				<option value={{symbol}}>{{symbol}}</option>
			{% endfor %}
		{% endif %}
	</select>
	</div>
	<div class="input-group-prepend">
    <span class="input-group-text" id=""> <font size="-2">Count</font></span>
	</div>
	{%if limit%}
	<input type="text" class="form-control" name="data_count" value = {{limit}}>
	{%else%}
	<input type="text" class="form-control" name="data_count" >
	{%endif%}
	<div class="input-group-prepend">
			<span class="input-group-text" id=""><font size="-2">Interval</font></span>
			<select class="custom-select" id="inputGroupSelect04" name="timeinterval">
			{% if interval %}
			<option selected>{{interval}}</option>
			{%else%}
			<option selected>1h</option>
			{%endif%}
			<option value="1m">1m</option>
			<option value="3m">3m</option>
			<option value="5m">5m</option>
			<option value="15m">15m</option>
			<option value="30m">30m</option>
			<option value="1h">1h</option>
			<option value="2h">2h</option>
			<option value="4h">4h</option>
			<option value="6h">6h</option>
			<option value="8h">12h</option>
			<option value="1d">1d</option>
			<option value="3d">3d</option>
			<option value="1w">1w</option>
			<option value="1M">1M</option>

	</select>
	</div>
	<div class="input-group-prepend">
			<span class="input-group-text" id=""><font size="-2">Use Calendar</font></span>
			<div class="input-group-text">
					<input type="checkbox" name="checkboxstate" unchecked>
			</div>
	</div>

	<input id="datepicker1" width="276" name="datetimepicker1" value="{{start_time}}">
	<script>
			$('#datepicker1').datetimepicker({
					uiLibrary: 'bootstrap4',
          footer: true,
					format: 'dd.mm.yyyy HH:MM',
			});
	</script>

	<input id="datepicker2" width="276" name="datetimepicker2" value="{{end_time}}">
	<script>
			$('#datepicker2').datetimepicker({
				uiLibrary: 'bootstrap4',
        footer: true,
				format: 'dd.mm.yyyy HH:MM'
			});
	</script>

  <div class="input-group-append">
		<button type="submit" class="btn btn-primary">OK</button>
  </div>
</div>
</div>
</form>

<p></p>
{% if binanceallcoins  %}
<font size="-2">

<div class="row">
	<div class="col-7" style="overflow-y:auto;">
			<table id="arsivtable1" class="table table-striped table-sm table-bordered" style="width:100%">
			<!--<table class="sortable scrollTable table table-sm table-bordered">table table-sm-->
				<thead>
				  <tr>
					<th scope="col">Close Time</th>
					<th scope="col">Max</th>
					<th scope="col">Min</th>
					<th scope="col">Close Price</th>
					<th scope="col">Max-Min %</th>
					<th scope="col">Volume</th>
					<th scope="col">Buy Volume</th>
					<th scope="col">Sell Volume</th>
					<th scope="col">Buy Vol %</th>
				  </tr>
				</thead>
				<tbody>
					{% for coin in binanceallcoins %}
						<tr>
							<th scope="row">{{coin.0}}</th>
							{%if coin.11%}
							<td class="bg-success">{{ coin.1 }}</td>
							{%else%}
							<td>{{ coin.1 }}</td>
							{%endif%}
							{%if coin.12%}
							<td class="bg-danger">{{ coin.2 }}</td>
							{%else%}
							<td>{{ coin.2 }}</td>
							{%endif%}
							<td>{{ coin.3 }}</td>
							<td>{{ coin.4 }}</td>
							{%if coin.9%}
							<td class="bg-primary">{{ coin.5 }}</td>
							{%else%}
							<td>{{ coin.5 }}</td>
							{%endif%}
							{%if coin.10%}
							<td class="bg-primary">{{ coin.6 }}</td>
							{%else%}
							<td>{{ coin.6 }}</td>
							{%endif%}
							<td>{{ coin.7 }}</td>
							<td>{{ coin.8 }}</td>

						</tr>
					{% endfor %}
				</tbody>
				</table>


			</div>
			<div class="col-3">
				  <font size="+1">
					<strong><center>Volume Spikes</center>  </strong>
					</font>
					<table class="sortable table table-sm"><!--table table-sm-->
						<thead>
							<tr>
							<th scope="col">Time</th>
							<th scope="col">Tot.Vol</th>
							<th scope="col">Buy Vol</th>
							<th scope="col">Price</th>
							</tr>
						</thead>
						<tbody>
							{%if voltable%}
							{% for coin in voltable %}
								<tr>
									<th scope="row">{{coin.0}}</th>
									<td>{{ coin.1 }}</td>
									<td>{{ coin.2 }}</td>
									<td>{{ coin.3 }}</td>
								</tr>
							{% endfor %}
							{%endif%}
						</tbody>
						</table>
			</div>
			<div class="col-2">
					{% if minmaxlist%}
					<ul class="list-group">
							<font size="-1">
							<strong>
							<li class="list-group-item list-group-item-primary py-1">Max Val</li>
							<li class="list-group-item py-1">{{minmaxlist.0}}</li>
							<li class="list-group-item list-group-item-primary py-1">Max Val Date</li>
							<li class="list-group-item py-1">{{minmaxlist.1}}</li>
							<li class="list-group-item list-group-item-danger py-1">Min Val</li>
							<li class="list-group-item py-1">{{minmaxlist.2}}</li>
							<li class="list-group-item list-group-item-danger py-1">Min. Val Date</li>
							<li class="list-group-item py-1">{{minmaxlist.3}}</li>
							<li class="list-group-item list-group-item-success py-1">Now</li>
							<li class="list-group-item py-1">{{minmaxlist.4}}</li>
							<li class="list-group-item list-group-item-danger py-1">Delta from Max %</li>
							<li class="list-group-item py-1">{{minmaxlist.5}}</li>
							<li class="list-group-item list-group-item-primary py-1">Delta from Min %</li>
							<li class="list-group-item py-1">{{minmaxlist.6}}</li>
						</strong>
						</font>
						</ul>
						{%endif%}
						{%if matable%}
							<br>
							<strong>
							<table class="table table-sm"><!--table table-sm-->
							<thead>
							<tr>
							<th scope="col" class="bg-success">ma7</th>
							<th scope="col" class="bg-primary">ma25</th>
							<th scope="col" class="bg-danger">ma99</th>
							</tr>
							</thead>
							<tbody>
									{% for coin in matable %}
									<tr>
										<th scope="row">{{coin.0}}</th>
										<td>{{ coin.1 }}</td>
										<td>{{ coin.2 }}</td>
									</tr>
								{% endfor %}
						</tbody>
						</table>
						</strong>
						{%endif%}

			</div>
		</div>
	</font>

		{% else %}
		<div class = "alert alert-danger">API did not load</div>
	{% endif %}

{%endblock%}

