{% extends "layout.html" %}

{% block body%}
<a style = "float : right;" href="/" class="btn btn-danger">Yenile</a>

{% if binanceallcoins  %}

<table id="example" class="table table-striped table-bordered" style="width:100%">				
    <thead>
          <tr>
            <th scope="col">COIN</th>
            <th scope="col">SON</th>
            <th scope="col">MAKS</th>
            <th scope="col">MIN</th>
            <th scope="col">HACİM</th>
          </tr>
        </thead>
        <tbody>
            {% for coin in binanceallcoins %}
                <!--{% if "BTC" in coin.symbol %}                     {% endif%}-->
                <tr>
                    <th scope="row">{{coin.symbol}}</th>
                    <td>{{coin.lastPrice}}</td>
                    <td>{{coin.highPrice}}</td>
                    <td>{{coin.lowPrice}}</td>
                    <td>{{coin.quoteVolume}}</td>
                </tr>
            {% endfor %}
        </tbody>
      </table>
{% else %}
<div class = "alert alert-danger">API çalışmadı</div>
{% endif %}
{%endblock%}



		